body {
	background: linear-gradient(-90deg, #2c5364, #203a43, #0f2027);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100vh;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

html {
	height: 100%;
	width: 100%;
  }

  body {
	font-family: 'Open Sans', serif;
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
	-webkit-font-smoothing: antialiased;
	overflow: -moz-scrollbars-none;
	-ms-overflow-style: none;
  }

.web19201 .theseAmazingPhotosWillInspireYourTravels {
position: absolute;
  box-sizing: content-box;
  -ms-transform: rotate(0.00deg);
-webkit-transform: rotate(0.00deg);
transform: rotate(0.00deg);
-ms-transform-origin: center;
-webkit-transform-origin: center;
transform-origin: center;
  opacity: 1;
  cursor: default;
  margin-top: 0.00px;
  margin-right: 0.00px;
  margin-bottom: 0.00px;
  margin-left: 0.00px;
  padding-top: 0.00px;
  padding-right: 0.00px;
  padding-bottom: 0.00px;
  padding-left: 0.00px;
  background-color: rgba(255, 255, 255, 0);
  text-align: left;
  letter-spacing: 0.00px;
  color: rgba(255, 255, 255, 1);
  -webkit-text-stroke: 1.00px rgba(0, 0, 0, 0);
  font-size: 50.00px;
  font-weight: 700;
font-style: normal;
  font-family: 'Playfair Display', Arial;
  text-decoration: none;
  box-shadow: none;
  overflow-x: unset;
  overflow-y: unset;
  white-space: pre;
  width: 458.00px;
height: 201.00px;
left: 86.00px;
top: 462.00px;

}

.web19201 .photography2020 {
position: absolute;
  box-sizing: content-box;
  -ms-transform: rotate(0.00deg);
-webkit-transform: rotate(0.00deg);
transform: rotate(0.00deg);
-ms-transform-origin: center;
-webkit-transform-origin: center;
transform-origin: center;
  opacity: 1;
  cursor: default;
  margin-top: 0.00px;
  margin-right: 0.00px;
  margin-bottom: 0.00px;
  margin-left: 0.00px;
  padding-top: 0.00px;
  padding-right: 0.00px;
  padding-bottom: 0.00px;
  padding-left: 0.00px;
  background-color: rgba(255, 255, 255, 0);
  text-align: left;
  letter-spacing: 2.60px;
  color: rgba(255, 255, 255, 1);
  -webkit-text-stroke: 1.00px rgba(0, 0, 0, 0);
  font-size: 13.00px;
  font-weight: 500;
font-style: normal;
  font-family: Avenir, Arial;
  text-decoration: none;
  box-shadow: none;
  overflow-x: unset;
  overflow-y: unset;
  white-space: pre;
  width: 161.00px;
height: 17.00px;
left: 86.00px;
top: 429.00px;

}

.web19201 .group10 {

  display: block;
  position: absolute;
  box-sizing: content-box;
  -ms-transform: rotate(0.00deg);
-webkit-transform: rotate(0.00deg);
transform: rotate(0.00deg);
-ms-transform-origin: center;
-webkit-transform-origin: center;
transform-origin: center;
  opacity: 1;
  cursor: default;
  margin-top: 0.00px;
  margin-right: 0.00px;
  margin-bottom: 0.00px;
  margin-left: 0.00px;
  padding-top: 0.00px;
  padding-right: 0.00px;
  padding-bottom: 0.00px;
  padding-left: 0.00px;
  overflow-x: unset;
  overflow-y: unset;
  background-color: transparent;
  width: 134.82px;
height: 17.00px;
left: 86.00px;
top: 692.00px;

}

.web19201 .group10 .readMore {
position: absolute;
  box-sizing: content-box;
  -ms-transform: rotate(0.00deg);
-webkit-transform: rotate(0.00deg);
transform: rotate(0.00deg);
-ms-transform-origin: center;
-webkit-transform-origin: center;
transform-origin: center;
  opacity: 1;
  cursor: default;
  margin-top: 0.00px;
  margin-right: 0.00px;
  margin-bottom: 0.00px;
  margin-left: 0.00px;
  padding-top: 0.00px;
  padding-right: 0.00px;
  padding-bottom: 0.00px;
  padding-left: 0.00px;
  background-color: rgba(255, 255, 255, 0);
  text-align: left;
  letter-spacing: 2.60px;
  color: rgba(255, 255, 255, 1);
  -webkit-text-stroke: 1.00px rgba(0, 0, 0, 0);
  font-size: 13.00px;
  font-weight: 500;
font-style: normal;
  font-family: Avenir, Arial;
  text-decoration: none;
  box-shadow: none;
  overflow-x: unset;
  overflow-y: unset;
  white-space: pre;
  width: 92.00px;
height: 17.00px;
left: 0.00px;
top: 0.00px;

}

.web19201 .group10 .group9 {

  display: block;
  position: absolute;
  box-sizing: content-box;
  -ms-transform: rotate(0.00deg);
-webkit-transform: rotate(0.00deg);
transform: rotate(0.00deg);
-ms-transform-origin: center;
-webkit-transform-origin: center;
transform-origin: center;
  opacity: 1;
  cursor: default;
  margin-top: 0.00px;
  margin-right: 0.00px;
  margin-bottom: 0.00px;
  margin-left: 0.00px;
  padding-top: 0.00px;
  padding-right: 0.00px;
  padding-bottom: 0.00px;
  padding-left: 0.00px;
  overflow-x: unset;
  overflow-y: unset;
  background-color: transparent;
  width: 23.76px;
height: 11.52px;
left: 111.06px;
top: 4.00px;

}

.web19201 .group10 .group9 .path10 {
position: absolute;
  box-sizing: content-box;
  -ms-transform: rotate(0.00deg);
-webkit-transform: rotate(0.00deg);
transform: rotate(0.00deg);
-ms-transform-origin: center;
-webkit-transform-origin: center;
transform-origin: center;
  opacity: 1;
  cursor: default;
  margin-top: 0.00px;
  margin-right: 0.00px;
  margin-bottom: 0.00px;
  margin-left: 0.00px;
  padding-top: 0.00px;
  padding-right: 0.00px;
  padding-bottom: 0.00px;
  padding-left: 0.00px;
  fill: rgba(255, 255, 255, 1);
  box-shadow: none;
  width: 5.76px;
height: 11.52px;
left: 18.00px;
top: 0.00px;

}

.web19201 .group10 .group9 .path11 {
position: absolute;
  box-sizing: content-box;
  -ms-transform: rotate(0.00deg);
-webkit-transform: rotate(0.00deg);
transform: rotate(0.00deg);
-ms-transform-origin: center;
-webkit-transform-origin: center;
transform-origin: center;
  opacity: 1;
  cursor: default;
  margin-top: 0.00px;
  margin-right: 0.00px;
  margin-bottom: 0.00px;
  margin-left: 0.00px;
  padding-top: 0.00px;
  padding-right: 0.00px;
  padding-bottom: 0.00px;
  padding-left: 0.00px;
  fill: rgba(255, 255, 255, 1);
  box-shadow: none;
  width: 5.76px;
height: 11.52px;
left: 9.00px;
top: 0.00px;

}

.web19201 .group10 .group9 .path12 {
position: absolute;
  box-sizing: content-box;
  -ms-transform: rotate(0.00deg);
-webkit-transform: rotate(0.00deg);
transform: rotate(0.00deg);
-ms-transform-origin: center;
-webkit-transform-origin: center;
transform-origin: center;
  opacity: 0.30000001192092896;
  cursor: default;
  margin-top: 0.00px;
  margin-right: 0.00px;
  margin-bottom: 0.00px;
  margin-left: 0.00px;
  padding-top: 0.00px;
  padding-right: 0.00px;
  padding-bottom: 0.00px;
  padding-left: 0.00px;
  fill: rgba(255, 255, 255, 1);
  box-shadow: none;
  width: 5.76px;
height: 11.52px;
left: 0.00px;
top: 0.00px;

}

.web19201 .group6 {

  display: block;
  position: absolute;
  box-sizing: content-box;
  -ms-transform: rotate(0.00deg);
-webkit-transform: rotate(0.00deg);
transform: rotate(0.00deg);
-ms-transform-origin: center;
-webkit-transform-origin: center;
transform-origin: center;
  opacity: 1;
  cursor: default;
  margin-top: 0.00px;
  margin-right: 0.00px;
  margin-bottom: 0.00px;
  margin-left: 0.00px;
  padding-top: 0.00px;
  padding-right: 0.00px;
  padding-bottom: 0.00px;
  padding-left: 0.00px;
  overflow-x: unset;
  overflow-y: unset;
  background-color: transparent;
  width: 1814.21px;
height: 38.00px;
left: 43.00px;
top: 30.00px;

}

.web19201 .group6 .subtraction1 {
position: absolute;
  box-sizing: content-box;
  -ms-transform: rotate(0.00deg);
-webkit-transform: rotate(0.00deg);
transform: rotate(0.00deg);
-ms-transform-origin: center;
-webkit-transform-origin: center;
transform-origin: center;
  opacity: 1;
  cursor: default;
  margin-top: 0.00px;
  margin-right: 0.00px;
  margin-bottom: 0.00px;
  margin-left: 0.00px;
  padding-top: 0.00px;
  padding-right: 0.00px;
  padding-bottom: 0.00px;
  padding-left: 0.00px;
  fill: rgba(255, 255, 255, 1);
  box-shadow: none;
  width: 36.00px;
height: 36.00px;
left: 0.00px;
top: 2.00px;

}

.web19201 .group6 .group2 {

  display: block;
  position: absolute;
  box-sizing: content-box;
  -ms-transform: rotate(0.00deg);
-webkit-transform: rotate(0.00deg);
transform: rotate(0.00deg);
-ms-transform-origin: center;
-webkit-transform-origin: center;
transform-origin: center;
  opacity: 1;
  cursor: default;
  margin-top: 0.00px;
  margin-right: 0.00px;
  margin-bottom: 0.00px;
  margin-left: 0.00px;
  padding-top: 0.00px;
  padding-right: 0.00px;
  padding-bottom: 0.00px;
  padding-left: 0.00px;
  overflow-x: unset;
  overflow-y: unset;
  background-color: transparent;
  width: 943.00px;
height: 30.00px;
left: 362.00px;
top: 0.00px;

}

.web19201 .group6 .group2 .blog {
position: absolute;
  box-sizing: content-box;
  -ms-transform: rotate(0.00deg);
-webkit-transform: rotate(0.00deg);
transform: rotate(0.00deg);
-ms-transform-origin: center;
-webkit-transform-origin: center;
transform-origin: center;
  opacity: 1;
  cursor: default;
  margin-top: 0.00px;
  margin-right: 0.00px;
  margin-bottom: 0.00px;
  margin-left: 0.00px;
  padding-top: 0.00px;
  padding-right: 0.00px;
  padding-bottom: 0.00px;
  padding-left: 0.00px;
  background-color: rgba(255, 255, 255, 0);
  text-align: left;
  letter-spacing: 4.40px;
  color: rgba(255, 255, 255, 1);
  -webkit-text-stroke: 1.00px rgba(0, 0, 0, 0);
  font-size: 22.00px;
  font-weight: 500;
font-style: normal;
  font-family: Avenir, Arial;
  text-decoration: none;
  box-shadow: none;
  overflow-x: unset;
  overflow-y: unset;
  white-space: pre;
  width: 67.00px;
height: 30.00px;
left: 0.00px;
top: 0.00px;

}

.web19201 .group6 .group2 .RulesandRegulations {
position: absolute;
  box-sizing: content-box;
  -ms-transform: rotate(0.00deg);
-webkit-transform: rotate(0.00deg);
transform: rotate(0.00deg);
-ms-transform-origin: center;
-webkit-transform-origin: center;
transform-origin: center;
  opacity: 1;
  cursor: default;
  margin-top: 0.00px;
  margin-right: 0.00px;
  margin-bottom: 0.00px;
  margin-left: 0.00px;
  padding-top: 0.00px;
  padding-right: 0.00px;
  padding-bottom: 0.00px;
  padding-left: 0.00px;
  background-color: rgba(255, 255, 255, 0);
  text-align: left;
  letter-spacing: 4.40px;
  color: rgba(255, 255, 255, 1);
  -webkit-text-stroke: 1.00px rgba(0, 0, 0, 0);
  font-size: 22.00px;
  font-weight: 500;
font-style: normal;
  font-family: Avenir, Arial;
  text-decoration: none;
  box-shadow: none;
  overflow-x: unset;
  overflow-y: unset;
  white-space: pre;
  width: 140.00px;
height: 30.00px;
left: 227.00px;
top: 0.00px;

}

.web19201 .group6 .group2 .OrganisingCommittee {
position: absolute;
  box-sizing: content-box;
  -ms-transform: rotate(0.00deg);
-webkit-transform: rotate(0.00deg);
transform: rotate(0.00deg);
-ms-transform-origin: center;
-webkit-transform-origin: center;
transform-origin: center;
  opacity: 1;
  cursor: default;
  margin-top: 0.00px;
  margin-right: 0.00px;
  margin-bottom: 0.00px;
  margin-left: 0.00px;
  padding-top: 0.00px;
  padding-right: 0.00px;
  padding-bottom: 0.00px;
  padding-left: 0.00px;
  background-color: rgba(255, 255, 255, 0);
  text-align: left;
  letter-spacing: 4.40px;
  color: rgba(255, 255, 255, 1);
  -webkit-text-stroke: 1.00px rgba(0, 0, 0, 0);
  font-size: 22.00px;
  font-weight: 500;
font-style: normal;
  font-family: Avenir, Arial;
  text-decoration: none;
  box-shadow: none;
  overflow-x: unset;
  overflow-y: unset;
  white-space: pre;
  width: 252.00px;
height: 30.00px;
left: 527.00px;
top: 0.00px;

}

.web19201 .group6 .group2 .Register {
position: absolute;
  box-sizing: content-box;
  -ms-transform: rotate(0.00deg);
-webkit-transform: rotate(0.00deg);
transform: rotate(0.00deg);
-ms-transform-origin: center;
-webkit-transform-origin: center;
transform-origin: center;
  opacity: 1;
  cursor: default;
  margin-top: 0.00px;
  margin-right: 0.00px;
  margin-bottom: 0.00px;
  margin-left: 0.00px;
  padding-top: 0.00px;
  padding-right: 0.00px;
  padding-bottom: 0.00px;
  padding-left: 0.00px;
  background-color: rgba(255, 255, 255, 0);
  text-align: left;
  letter-spacing: 4.40px;
  color: rgba(255, 255, 255, 1);
  -webkit-text-stroke: 1.00px rgba(0, 0, 0, 0);
  font-size: 22.00px;
  font-weight: 500;
font-style: normal;
  font-family: Avenir, Arial;
  text-decoration: none;
  box-shadow: none;
  overflow-x: unset;
  overflow-y: unset;
  white-space: pre;
  width: 182.00px;
height: 30.00px;
left: 761.00px;
top: 0.00px;

}

.web19201 .group6 .group3 {

  display: block;
  position: absolute;
  box-sizing: content-box;
  -ms-transform: rotate(0.00deg);
-webkit-transform: rotate(0.00deg);
transform: rotate(0.00deg);
-ms-transform-origin: center;
-webkit-transform-origin: center;
transform-origin: center;
  opacity: 1;
  cursor: default;
  margin-top: 0.00px;
  margin-right: 0.00px;
  margin-bottom: 0.00px;
  margin-left: 0.00px;
  padding-top: 0.00px;
  padding-right: 0.00px;
  padding-bottom: 0.00px;
  padding-left: 0.00px;
  overflow-x: unset;
  overflow-y: unset;
  background-color: transparent;
  width: 24.06px;
height: 26.32px;
left: 1699.00px;
top: 7.00px;

}

.web19201 .group6 .group3 .ellipse3 {
position: absolute;
  box-sizing: border-box;
  -ms-transform: rotate(0.00deg);
-webkit-transform: rotate(0.00deg);
transform: rotate(0.00deg);
-ms-transform-origin: center;
-webkit-transform-origin: center;
transform-origin: center;
  opacity: 1;
  cursor: default;
  margin-top: 0.00px;
  margin-right: 0.00px;
  margin-bottom: 0.00px;
  margin-left: 0.00px;
  padding-top: 0.00px;
  padding-right: 0.00px;
  padding-bottom: 0.00px;
  padding-left: 0.00px;
  fill: transparent;
  stroke: rgba(255, 255, 255, 1);
	  stroke-width: 1.50px;
	  stroke-linecap: butt;
  box-shadow: none;
  width: 22.00px;
height: 22.00px;
left: 0.00px;
top: 0.00px;

}

.web19201 .group6 .group3 .path3 {
position: absolute;
  box-sizing: content-box;
  -ms-transform: rotate(15.00deg);
-webkit-transform: rotate(15.00deg);
transform: rotate(15.00deg);
-ms-transform-origin: center;
-webkit-transform-origin: center;
transform-origin: center;
  opacity: 1;
  cursor: default;
  margin-top: 0.00px;
  margin-right: 0.00px;
  margin-bottom: 0.00px;
  margin-left: 0.00px;
  padding-top: 0.00px;
  padding-right: 0.00px;
  padding-bottom: 0.00px;
  padding-left: 0.00px;
  fill: transparent;
  stroke: rgba(255, 255, 255, 1);
	  stroke-width: 1.50px;
	  stroke-linecap: round;
  box-shadow: none;
  width: 10.20px;
height: 8.15px;
left: 14.83px;
top: 18.83px;

}

.web19201 .group6 .group5 {

  display: block;
  position: absolute;
  box-sizing: content-box;
  -ms-transform: rotate(0.00deg);
-webkit-transform: rotate(0.00deg);
transform: rotate(0.00deg);
-ms-transform-origin: center;
-webkit-transform-origin: center;
transform-origin: center;
  opacity: 1;
  cursor: default;
  margin-top: 0.00px;
  margin-right: 0.00px;
  margin-bottom: 0.00px;
  margin-left: 0.00px;
  padding-top: 0.00px;
  padding-right: 0.00px;
  padding-bottom: 0.00px;
  padding-left: 0.00px;
  overflow-x: unset;
  overflow-y: unset;
  background-color: transparent;
  width: 26.60px;
height: 15.00px;
left: 1787.61px;
top: 12.00px;

}

.web19201 .group6 .group5 .path4 {
position: absolute;
  box-sizing: content-box;
  -ms-transform: rotate(0.00deg);
-webkit-transform: rotate(0.00deg);
transform: rotate(0.00deg);
-ms-transform-origin: center;
-webkit-transform-origin: center;
transform-origin: center;
  opacity: 1;
  cursor: default;
  margin-top: 0.00px;
  margin-right: 0.00px;
  margin-bottom: 0.00px;
  margin-left: 0.00px;
  padding-top: 0.00px;
  padding-right: 0.00px;
  padding-bottom: 0.00px;
  padding-left: 0.00px;
  fill: transparent;
  stroke: rgba(255, 255, 255, 1);
	  stroke-width: 1.00px;
	  stroke-linecap: butt;
  box-shadow: none;
  width: 28.60px;
height: 2.00px;
left: -1.00px;
top: -1.00px;

}

.web19201 .group6 .group5 .path5 {
position: absolute;
  box-sizing: content-box;
  -ms-transform: rotate(0.00deg);
-webkit-transform: rotate(0.00deg);
transform: rotate(0.00deg);
-ms-transform-origin: center;
-webkit-transform-origin: center;
transform-origin: center;
  opacity: 1;
  cursor: default;
  margin-top: 0.00px;
  margin-right: 0.00px;
  margin-bottom: 0.00px;
  margin-left: 0.00px;
  padding-top: 0.00px;
  padding-right: 0.00px;
  padding-bottom: 0.00px;
  padding-left: 0.00px;
  fill: transparent;
  stroke: rgba(255, 255, 255, 1);
	  stroke-width: 1.00px;
	  stroke-linecap: butt;
  box-shadow: none;
  width: 28.60px;
height: 2.00px;
left: -1.00px;
top: 6.00px;

}

.web19201 .group6 .group5 .path6 {
position: absolute;
  box-sizing: content-box;
  -ms-transform: rotate(0.00deg);
-webkit-transform: rotate(0.00deg);
transform: rotate(0.00deg);
-ms-transform-origin: center;
-webkit-transform-origin: center;
transform-origin: center;
  opacity: 1;
  cursor: default;
  margin-top: 0.00px;
  margin-right: 0.00px;
  margin-bottom: 0.00px;
  margin-left: 0.00px;
  padding-top: 0.00px;
  padding-right: 0.00px;
  padding-bottom: 0.00px;
  padding-left: 0.00px;
  fill: transparent;
  stroke: rgba(255, 255, 255, 1);
	  stroke-width: 1.00px;
	  stroke-linecap: butt;
  box-shadow: none;
  width: 28.60px;
height: 2.00px;
left: -1.00px;
top: 14.00px;

}
