body {
	background: linear-gradient(-90deg, #2c5364, #203a43, #0f2027);
	background-size: 400% 690%;
	animation: gradient 15s ease infinite;
	height: 4000px;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

html {
	height: 4000px;
	width: 100vw;
  }

  body {
	font-family: Avenir, Arial;
	margin: 0;
	padding: 0;
	height: 4000px;
	width: 100vw;
	-webkit-font-smoothing: antialiased;
	overflow: -moz-scrollbars-none;
	-ms-overflow-style: none;
  }

.headingsbold {
    position: absolute;
      box-sizing: content-box;
      opacity: 1;
      cursor: default;
      background-color: rgba(255, 255, 255, 0);
      text-align: left;
      letter-spacing: 0.00px;
      color: rgba(255, 255, 255, 1);
      -webkit-text-stroke: 1.00px rgba(0, 0, 0, 0);
      font-size: 50.00px;
      font-weight: 700;
    font-style: normal;
      font-family: 'Playfair Display', Arial;
      text-decoration: none;
      box-shadow: none;
      overflow-x: unset;
      overflow-y: unset;
      white-space: pre;
      width: 458.00px;
    height: 250.00px;
    left: 86.00px;
    top: 430.00px;
    
    }

.subheads {
  position: absolute;
  box-sizing: content-box;
-ms-transform-origin: center;
-webkit-transform-origin: center;
transform-origin: center;
  opacity: 1;
  cursor: default;
  background-color: rgba(255, 255, 255, 0);
  text-align: left;
  letter-spacing: 2.60px;
  color: rgba(255, 255, 255, 1);
  -webkit-text-stroke: 1.00px rgba(0, 0, 0, 0);
  font-size: 13.00px;
  font-weight: 600;
font-style: normal;
  font-family: Avenir, Arial;
  text-decoration: none;
  box-shadow: none;
  overflow-x: unset;
  overflow-y: unset;
  white-space: pre;
  width: 161.00px;
height: 17.00px;
left: 90.00px;
top: 400.00px;
} 

.bottomheading {
  position: absolute;
  box-sizing: content-box;
-ms-transform-origin: center;
-webkit-transform-origin: center;
transform-origin: center;
  opacity: 1;
  cursor: default;
  background-color: rgba(255, 255, 255, 0);
  text-align: left;
  letter-spacing: 2.60px;
  color: rgba(255, 255, 255, 1);
  -webkit-text-stroke: 1.00px rgba(0, 0, 0, 0);
  font-size: 13.00px;
  font-weight: 600;
font-style: normal;
  font-family: Avenir, Arial;
  text-decoration: none;
  white-space: pre;
  width: 161.00px;
height: 17.00px;
left: 90.00px;
top: 595.00px;
} 

.paragraphtxt {
  font-family:  'Avenir', Arial;
}

.readmore {
  position: absolute;
  box-sizing: content-box;
-ms-transform-origin: center;
-webkit-transform-origin: center;
transform-origin: center;
  opacity: 1;
  cursor: default;
  background-color: rgba(255, 255, 255, 0);
  text-align: left;
  letter-spacing: 2.60px;
  color: rgba(255, 255, 255, 1);
  -webkit-text-stroke: 1.00px rgba(0, 0, 0, 0);
  font-size: 13.00px;
  font-weight: 400;
  font-style: normal;
  font-family: Avenir, Arial;
  text-decoration: none;
  white-space: pre;
  width: 200.00px;
  height: 17.00px;
  left: 90.00px;
  top: 620.00px;
}
a {
  color: #FFFFFF;
  text-decoration: none;
}

a:hover {
  color:#cec5ca; 
  text-decoration:none; 
  cursor:pointer;  
}
.lottieno1{
  position: absolute;
  box-sizing: content-box;
-ms-transform-origin: center;
-webkit-transform-origin: center;
transform-origin: center;
  opacity: 1;
  cursor: default;
  text-align: left;
  white-space: pre;
  width: 200.00px;
  height: 17.00px;
  left: 175.00px;
  top: 602.00px;
  
}

.lottieno2
{
  position: absolute;
  box-sizing: content-box;
-ms-transform-origin: center;
-webkit-transform-origin: center;
transform-origin: center;
  opacity: 1;
  cursor: default;
  text-align: left;
  white-space: pre;
  width: 200.00px;
  height: 1700.00px;
  left: 175.00px;
  top: 750.00px; 
}
.schoollogo
{
  position: absolute;
  box-sizing: content-box;
-ms-transform-origin: center;
-webkit-transform-origin: center;
transform-origin: center;
  opacity: 1;
  cursor: default;
  text-align: left;
  white-space: pre;
  width: 200.00px;
  height: 1700.00px;
  left: 175.00px;
  top: 200.00px; 
}