body {
  font-family: Roboto, sans-serif;
}

.menu {
  display:flex;
  justify-content:center;
  position:sticky;
  z-index: 1;
  padding: px;
  max-width: 800px;
  margin: 0px auto;
  border-bottom: 1px solid #eee;
  top:0px;
}
@media (max-width: 650px) {
  .menu {
    flex-direction: column;
    align-items: center;
  }
}
.menu .item {
  padding: 18px 26px;
  cursor: pointer;
  transition: color 0.3s ease-out;
  text-decoration: none;
  color: rgb(193, 188, 188);
  letter-spacing: 0.05em;
  text-transform: uppercase;
  font-size: 14px;
  margin: 5px 0;
}
.menu .item.active {
  color: #fff;
}
.menu .indicator {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  border-radius: 30px;
}